<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>3/16/22, 12:52 PM</p>
</blockquote></td>
<td>python 0158</td>
</tr>
</tbody>
</table>

> ADDITION OF TWO NUMBERS (DYNAMIC)

| In \[ \]: |     |
|-----------|-----|
| In \[2\]: |     |

|     |
|-----|
|     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>a<strong>=</strong>int(input("enter the value"))<br />
b<strong>=</strong>int(input("enter the value"))<br />
add<strong>=</strong>a<strong>+</strong>b<br />
print(add)<br />
print(type(add))</p>
</blockquote></td>
</tr>
</tbody>
</table>

> enter the value25  
> enter the value25  
> 50  
> \<class 'int'\>
>
> AVERAGE OF THREE NUMBERS

|           |     |
|-----------|-----|
| In \[5\]: |     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>a<strong>=</strong>10<br />
b<strong>=</strong>15<br />
c<strong>=</strong>20<br />
average<strong>=</strong>a<strong>+</strong>b<strong>+</strong>c<strong>/</strong>3<br />
print(average)<br />
print(type(average))</p>
</blockquote></td>
</tr>
</tbody>
</table>

> 31.666666666666668  
> \<class 'float'\>
>
> MULTIPLICATION OF THREE NUMBERS

|           |     |
|-----------|-----|
| In \[7\]: |     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>a<strong>=</strong>2<br />
b<strong>=</strong>6<br />
c<strong>=</strong>10<br />
multiplication<strong>=</strong>a<strong>*</strong>b<strong>*</strong>c<br />
print(multiplication)<br />
print(type(multiplication))</p>
</blockquote></td>
</tr>
</tbody>
</table>

> 120  
> \<class 'int'\>
>
> CONVERT INT TO FLOAT

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>localhost:8888/notebooks/python 0158.ipynb</p>
</blockquote></td>
<td>1/5</td>
</tr>
</tbody>
</table>

| 3/16/22, 12:52 PM | python 0158 |
|-------------------|-------------|
| In \[8\]:         |             |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>a<strong>=</strong>10<br />
print(type(a))<br />
b<strong>=</strong>float(b)<br />
print(type(b))<br />
print(b)<br />
print(a)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> \<class 'int'\>  
> \<class 'float'\>  
> 6.0  
> 10
>
> CONVERT FLOAT TO INT

|           |     |
|-----------|-----|
| In \[9\]: |     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>a<strong>=</strong>21.2<br />
print(type(a))<br />
b<strong>=</strong>int(a)<br />
print(type(b))<br />
print(a)<br />
print(b)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> \<class 'float'\>  
> \<class 'int'\>  
> 21.2  
> 21
>
> CONVERT FLOAT TO STRING

|            |     |
|------------|-----|
| In \[10\]: |     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>a<strong>=</strong>12.5<br />
print(type(a))<br />
b<strong>=</strong>str(a)<br />
print(type(b))<br />
print(a)<br />
print(b)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> \<class 'float'\>  
> \<class 'str'\>  
> 12.5  
> 12.5

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>CONVERT INT TO STRING</p>
</blockquote></td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>localhost:8888/notebooks/python 0158.ipynb</p>
</blockquote></td>
<td>2/5</td>
</tr>
</tbody>
</table>

| 3/16/22, 12:52 PM | python 0158 |
|-------------------|-------------|
| In \[11\]:        |             |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>a<strong>=</strong>10<br />
print(type(a))<br />
b<strong>=</strong>str(b)<br />
print(type(b))<br />
print(a)<br />
print(b)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> \<class 'int'\>  
> \<class 'str'\>  
> 10  
> 12.5
>
> CONVERT OF STRING TO INT ( NOT POSSIBLE ONLY IF VALUES ARE GIVEN IN
> AIPHA)
>
> BOOLEAN

|            |     |
|------------|-----|
| In \[13\]: |     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>z<strong>=</strong>10<br />
b<strong>=</strong>5<br />
c<strong>=</strong>b<strong>&lt;</strong>z<br />
print(bool(c))<br />
print(type(c))</p>
</blockquote></td>
</tr>
</tbody>
</table>

> True  
> \<class 'bool'\>
>
> BOOLEAN INTO INT

|            |     |
|------------|-----|
| In \[21\]: |     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>z<strong>=</strong>10<br />
b<strong>=</strong>5<br />
c<strong>=</strong>b<strong>&lt;</strong>z<br />
print(bool(c))<br />
print(type(c))<br />
d<strong>=</strong>int(c)<br />
print(type(d))<br />
print(d)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> True  
> \<class 'bool'\>  
> \<class 'int'\>  
> 1
>
> BOOLEAN TO FLOAT

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>localhost:8888/notebooks/python 0158.ipynb</p>
</blockquote></td>
<td>3/5</td>
</tr>
</tbody>
</table>

| 3/16/22, 12:52 PM | python 0158 |
|-------------------|-------------|
| In \[20\]:        |             |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>z<strong>=</strong>10<br />
b<strong>=</strong>5<br />
c<strong>=</strong>b<strong>&lt;</strong>z<br />
print(bool(c))<br />
print(type(c))<br />
d<strong>=</strong>float(c)<br />
print(type(d))<br />
print(d)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> True  
> \<class 'bool'\>  
> \<class 'float'\>  
> 1.0
>
> BOOLEAN TO STRING

|            |     |
|------------|-----|
| In \[22\]: |     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>z<strong>=</strong>10<br />
b<strong>=</strong>5<br />
c<strong>=</strong>b<strong>&lt;</strong>z<br />
print(bool(c))<br />
print(type(c))<br />
d<strong>=</strong>str(c)<br />
print(type(d))<br />
print(d)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> True  
> \<class 'bool'\>  
> \<class 'str'\>  
> True
>
> BOOLEAN TO COMPLEX

|            |     |
|------------|-----|
| In \[23\]: |     |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>z<strong>=</strong>10<br />
b<strong>=</strong>5<br />
c<strong>=</strong>b<strong>&lt;</strong>z<br />
print(bool(c))<br />
print(type(c))<br />
d<strong>=</strong>complex(c)<br />
print(type(d))<br />
print(d)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> True  
> \<class 'bool'\>  
> \<class 'complex'\>  
> (1+0j)
>
> COMPLEX TO INT CAN'T BE CONVERTED

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>localhost:8888/notebooks/python 0158.ipynb</p>
</blockquote></td>
<td>4/5</td>
</tr>
</tbody>
</table>

| 3/16/22, 12:52 PM | python 0158 |
|-------------------|-------------|
| In \[25\]:        |             |

<table>
<tbody>
<tr class="odd">
<td><blockquote>
<p>a<strong>=</strong>1<strong>+</strong>2j<br />
print(type(a))<br />
b<strong>=</strong>str(a)<br />
print(b)</p>
</blockquote></td>
</tr>
</tbody>
</table>

> \<class 'complex'\>  
> (1+2j)

<table>
<thead>
<tr class="header">
<th>In [ ]:</th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><blockquote>
<p>localhost:8888/notebooks/python 0158.ipynb</p>
</blockquote></td>
<td>5/5</td>
</tr>
</tbody>
</table>

|     |
|-----|
|     |